header {
    border-bottom:  solid 1px;  /* 枠線指定 */
    padding:  10px;             /* 余白指定 */
}
.bg_test {
    text-align:  center;        /* 文字中央揃え */
    color:  #000000;               /* 文字色指定 */
    background-color:  #ff0000;    /* 背景色指定 */
    font-family: "Slideyouran"
}
footer {
    border-top: solid 1px;      /* 枠線指定 */
    padding:  10px;             /* 余白指定 */
}

main {
    padding:  20px;             /* 余白指定 */
    height:  300px;             /* 高さ指定 */
}

@font-face { 
  /* ① ここにfont-familyで指定したい名前を書く*/
  font-family: "Slideyouran"; 

  /* フォントが置かれているパスを書く */ 
  src: url("Slideyouran.ttf") format("truetype") }
}

